* {
  border: 1px solid red;
}
body {
  display: flex;
  flex-direction: column;
}
section {
  display: flex;
  justify-content: space-around;
}
.mini-header {
  display: flex;
  justify-content: space-between;
}

.game-screen {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);

  position: relative;
  background-image: url("assests/background.png");
  background-size: cover;
  background-position: center center;

  height: 500px;
  width: 500px;
}

.cell {
  background-color: red;
  margin: 2px;
}
.food img {
  height: 1fr;
  width: 1fr;
}
.apple {
  background-image: url("./assests/apple.png");
  background-size: contain;
  background-position: center center;
  transform: scale(2);
}
.cherry {
  background-image: url("./assests/cherry.png");
  background-size: contain;
  background-position: center center;
  transform: scale(2);
}
.banana {
  background-image: url("./assests/banana.png");
  background-size: contain;
  background-position: center center;
  transform: scale(2);
}
.gem {
  background-image: url("./assests/gem.png");
  background-size: contain;
  background-position: center center;
  transform: scale(2);
}
.snake-head {
  background-color: purple;
}
.snake-body {
  background-color: rgb(248, 114, 248);
}
.snake-tail {
  background-color: rgb(255, 255, 255);
}
